/* MAIN STYLES */

body {
    font-family: 'ralewayregular';
}

.main_width {
    width: 1055px;
    margin: 0 auto;
}

/* HEADER STYLES */

header {
    height: 41px;
    background-color: black;
}

nav {
    line-height: 41px;
}

.header_logo {
    text-transform: uppercase;
    font-family: 'ralewayregular';
    font-size: 14px;
    color: white;
    float: left;
}

/* "on" with different colour */

.header_logo span {
    text-transform: uppercase;
    font-family: 'ralewaybold';
    font-size: 14px;
    color: #27c7ab;
}

.menu {
    float: right;
}

.menu > li {
    display: inline-block;
    padding-left: 49px;
    
}

.menu li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family:"ralewaybold";
}

.clearfix:after { 
    content: " "; 
    display: block; 
    clear: both; 
}

/* SECTION SLIDER STYLES */

.slider {
    height: 545px;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(48%, rgba(250,250,250,1)), color-stop(100%, rgba(202,202,210,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cacad2', GradientType=0 );
}

.slider_container {
    position: relative;
    height: 545px;
    width: 1055px;
}

.slider_col {
    float:left;
    width: 50%;
    height: 545px;
    margin-top: 100px;
}

.slider_col > img {
    margin-left: 20px
}

div.slider_col > div:first-child {
    margin-top: 50px;
    margin-left: 20px;
}

div.slider_col > div:nth-child(2) {
    margin-top: 20px;
    margin-left: 30px;
}

div.slider_col > div:nth-child(3) {
    margin-top: 60px;
    margin-left: 70px;
}

.slider_title {
    text-transform: uppercase;
    font-family: 'ralewaybold';
    font-size: 40px;
}

.slider_title > span {
    color: #27c7ab;
}

.slider_copy {
    width: 350px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}

.slider_button {
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #27c7ab;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 15px 30px 10px 40px;
    
}

.slider_arrow {
    color: #27c7ab;
    font-size: 70px;
    font-family: 'ralewaylight';
    line-height: 545px;
    position: absolute;
}

.arrow_right {
    right: 0;
}

.arrow_left {
    left: 0;
}

/* SECTION IMAGES */

.section_images {
    height: 350px;
    position: relative;
}

.section_images_container {
    height: 230px;
    width: 100%;
    margin-top: 25px;
    position: absolute;
}

.section_images_col {
    width: 320px;
    height: 230px;
    float: left;
    margin: 0px 15px 0 15px;
    border: 1px solid #dbdbdb;
}

.image_title {
    height: 60px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 3;
    top: 155px;
}

.title_stripe {
    background-color: #27c7ab;
    height: 7px;
    width: 137px;
}

.photo_stripe {
   position: absolute;
    top: 190px; 
}

.stripe_copy {
    color: black;
    font-size: 16px;
    font-family: 'ralewaybold';
    position: absolute;
    top: 170px;
}

.img_1 {
    background-image: url(../images/box1_img.jpg);
    position: relative;
}

.img_2 {
    background-image: url(../images/box2_img.jpg); 
    position: relative;
}

.box {
    margin-left: 20px;
    width: 270px;
}

.section_images_title {
    font-size: 16px; 
    font-family:'ralewaybold';
    margin-top: 25px;
}

.section_images_copy {
    font-size: 14px;  
    margin-top: 15px;
    color: #b4b4b4;
    line-height: 20px;
}

/* SECTION CENNIK */

.section_cennik {
    
}

.container_basic_plan {
    
}