/* MAIN STYLES */

body {
    font-family: 'ralewayregular';
}

.main_width {
    width: 1055px;
    margin: 0 auto;
}

/* HEADER STYLES */

header {
    height: 41px;
    background-color: black;
}

nav {
    line-height: 41px;
}

.header_logo {
    text-transform: uppercase;
    font-family: 'ralewayregular';
    font-size: 14px;
    color: white;
    float: left;
}

/* "on" with different colour */

.header_logo span {
    text-transform: uppercase;
    font-family: 'ralewaybold';
    font-size: 14px;
    color: #27c7ab;
}

.menu {
    float: right;
}

.menu > li {
    display: inline-block;
    padding-left: 49px;
    
}

.menu li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family:"ralewaybold";
}

.clearfix:after { 
    content: " "; 
    display: block; 
    clear: both; 
}

/* SECTION SLIDER STYLES */

.slider {
    height: 545px;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(48%, rgba(250,250,250,1)), color-stop(100%, rgba(202,202,210,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 48%, rgba(202,202,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cacad2', GradientType=0 );
}

.slider_container {
    position: relative;
    height: 545px;
    width: 1055px;
}

.slider_col {
    float:left;
    width: 50%;
    height: 545px;
    margin-top: 100px;
}

.slider_col > img {
    margin-left: 20px
}

div.slider_col > div:first-child {
    margin-top: 50px;
    margin-left: 20px;
}

div.slider_col > div:nth-child(2) {
    margin-top: 20px;
    margin-left: 30px;
}

div.slider_col > div:nth-child(3) {
    margin-top: 60px;
    margin-left: 70px;
}

.slider_title {
    text-transform: uppercase;
    font-family: 'ralewaybold';
    font-size: 40px;
}

.slider_title > span {
    color: #27c7ab;
}

.slider_copy {
    width: 350px;
    line-height: 25px;
    text-align: center;
    color: #333333;
}

.slider_button {
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #27c7ab;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 15px 30px 10px 40px;
    
}

.slider_arrow {
    color: #27c7ab;
    font-size: 70px;
    font-family: 'ralewaylight';
    line-height: 545px;
    position: absolute;
}

.arrow_right {
    right: 0;
}

.arrow_left {
    left: 0;
}

/* SECTION IMAGES */

.section_images {
    height: 350px;
    position: relative;
}

.section_images_container {
    height: 230px;
    width: 100%;
    margin-top: 25px;
    position: absolute;
}

.section_images_col {
    width: 320px;
    height: 220px;
    float: left;
/*    margin: 0px 15px 0 15px;*/
    border: 1px solid #dbdbdb;
    margin-right: 47px;
}



div.section_images_col:last-child {
    margin-right: 0;
}

.image_title {
    height: 60px;
    width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 3;
    top: 142px;
}

.title_stripe_style {
    background-color: #27c7ab;
    height: 7px;
    width: 137px;
}

.title_stripe_img_position {
   position: absolute;
    top: 180px; 
    left: 10px;
}

.stripe_copy {
    color: black;
    font-size: 16px;
    font-family: 'ralewaybold';
    position: absolute;
    top: 160px;
    left: 10px;
}

.img_1 {
    background-image: url(../images/box1_img.jpg);
    position: relative;
}

.img_2 {
    background-image: url(../images/box2_img.jpg); 
    position: relative;
}

.section_images_box {
    margin-left: 20px;
    width: 270px;
}

.section_images_title {
    font-size: 16px; 
    font-family:'ralewaybold';
    margin-top: 25px;
    margin-left: 20px;
}

.section_images_copy {
    font-size: 14px;  
    margin-top: 15px;
    color: #b4b4b4;
    line-height: 20px;
}

/* SECTION CENNIK */

.section_cennik {
    height: 725px;
    background-color: #f1f1f1;
}

.section_cennik_main_container {
    height: inherit;
    width: 1055px;
    position: relative;
}

.section_cennik_col {
    height: inherit;
    width: 320px;
    float: left;
}

.section_title_container {
    position: relative;
    top: 40px;
    height: 160px;
}

.section_title_stripe {
    background-color: #27c7ab;
    width: 320px;
    height: 8px;
    position: absolute;
    top: 45px;
}

.section_title {
   position: absolute;
    top: 10px;
}

.section_title > p {
    text-transform: uppercase;
    color: #565656;
    font-size: 26px;
}

.section_box_container {
    position: relative;
    border: 1px solid #c2c2c2;
    width: 328px;
    height: 500px;
    background-color: #f9f9f9;
    top: 8px;
}

.circle {
    position: absolute;    
}

/* pamiętaj o poprawieniu wyśrodkowania sztuczką */

.bigger_circle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #c2c2c2;
    margin: 0 auto 0 auto;
    left: 130px;
    right; 0;
    top: -39px;
    background-color: #f9f9f9;
}

/* pamiętaj o poprawieniu wyśrodkowania sztuczką */

.smaller_circle {
    position: absolute;
    background-color: #c2c2c2;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    top: 16px;
    bottom: 0;
    left: 0;
    right: 0;
}

.section_cennik_box {
    position: absolute;
}

.section_cennik_box_title {
    position: relative;
    height: 26px;
    width: 328px;
    left: 90px;
    top: 40px;
}

.section_cennik_box_title > p {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 26px;
    position: absolute;
}

.section_cennik_box_price_circle_container {
    width: 130px;
    height: 130px; 
}

.section_cennik_box_price_circle {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid #c2c2c2;  
    bottom: -80px;
    left: 95px;
}

.price_big_number {
    position: absolute;
    height: 130px;
    width: 130px;
    left: 37px;
    bottom: -25px;
}

.price_big_number > p {
    color: #c2c2c2;
    font-size: 45px;
    font-family: 'ralewaybold';
}

.price_small_number {
    position: absolute;
    left: 90px;
    top: 20px;
}

.price_small_number > p {
    color: #c2c2c2;
    font-size: 16px;
    font-family: 'ralewaybold';
}

.price_subtitle {
    position: absolute;
    top: 90px;
    left: 28px;
}

.price_subtitle > p {
    text-transform: uppercase;
    color: #c2c2c2;
    font-size: 16px;
}
.box_line_1 {
    position: relative;
    height: 42px;
    background-color: #e4e4e4;
    width: 326px;
    bottom: -120px;
}

/* nie działa sztuczka z centrowaniem */
.box_line_1 > p {
    position: absolute;
    color: #949494;
    top: 10px;
    left: 65px;    
}

.box_line_2 {
    position: relative;
    height: 42px;
    background-color: #f1f1f1;
    width: 326px;
    bottom: -120px;
}

.box_line_2 > p {
    color: #7e7e7e;
    top: 10px;
    left: 135px; 
    position: absolute;
}

.box_line_3 {
    position: relative;
}

.box_line_4 {
    position: relative;
}

.box_button_container {
    position: relative;
}

.box_button_container > div {
    position: absolute;
    top: 215px;
    left: 105px;
}

.box_button {
    text-transform: uppercase;
    background-color: #27c7ab;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 30px 8px 30px;
}

